@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

body{
    background-color: #f3f3ee;
  }
  .container {
    @apply mx-auto;
    max-width: 1260px;
  }
  .primary-color{
    color: #0066b3;
  }
  .primary-bg{
    background-color: #0066b3;
  }
  .logo-red-color{
    color: #ff0000;
  }
  .logo-red-bg{
    background-color: #ff0000;
  }
  .nav-bg{
    background-color: #636363;
  }
  .nav-color{
    color: #636363;
  }
  .footer-bg{
    background-color: #282828;
  }
  .btn-bg{
    background-color: #0AB7CF;
  }
  .custom-b-color{
    border-color: #0AB7CF;
  }
  .bottom-footer-bg{
    background-color: #141414;
  }
  .bg-quick-link-1{
      background-color: #0066b3;
  }
  .bg-quick-link-2{
      background-color: #538240;
  }
  .bg-quick-link-3{
      background-color: #ce491c;
      margin-top: -82px;
  }
  .bg-quick-link-4{
      background-color: #083a5b;
      margin-top: -82px;
  }
  .slider-area ul.slick-dots {
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-top: -32.5px;
    left: 50%;
  }

  .slider-area ul.slick-dots button {
    text-indent: -9999px;
    background-color: #d1ddd2;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .slider-area ul.slick-dots li {
    border-width: 1px;
    height: 15px;
    width: 15px;
    display: inline-flex;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 2px;
    margin-left: 5px;
  }

  .slider-area ul.slick-dots li.slick-active {
    border-color: #0066b3;
  }

  .slider-area ul.slick-dots li.slick-active button {
    background-color: #0066b3;
  }
  .custom-h-600{
    height: 600px;
    @apply object-cover;
    @apply w-full;
  }
  .custom-slider-h-400{
    height: 400px;
    @apply object-cover;
    @apply w-full;
  }
  /* study section */
  .section-title h2::before {
        position: absolute;
        content: "";
        height: 4px;
        width: 93%;
        background: #0066b3;
        left: 7%;
        top: 20px;
    }
    .research-section .section-title h2::before{
        left: 11%;
        width: 89%;
    }
    .event-section .section-title h2::before{
        left: 10%;
        width: 90%;
    }
    .collaborate-section .section-title h2::before{
        left: 15%;
        width: 85%;
    }
    .quick-link-section .section-title h2::before{
        left: 13%;
        width: 87%;
    }
  /* responsive layout */
  @media (max-width: 1400px) {
    .container{
        max-width: 1220px;
        @apply mx-auto;
    }
  }
  /* Large Screen */
  @media (max-width: 1260px) {
    .container{
        max-width: 1140px;
        @apply mx-auto;
    }
  }
  /* Tab Screen */
  @media (max-width: 991px) {
    .container{
        max-width: 720px;
        @apply mx-auto;
    }
    .education-tab {
      width: 700px;
      overflow-x: auto;
    }
  }
  /* Tab Screen */
  @media (max-width: 767px) {
    .container, .controller{
        max-width: 540px;
        @apply mx-auto;
    }
    .education-tab {
      width: 500px;
      overflow-x: auto;
    }
  }
  /* Mobile Screen */
  @media (max-width: 575px) {
    .container, .controller{
        max-width: 320px;
        @apply mx-auto;
    }
    .education-tab {
      width: 300px;
      overflow-x: auto;
    }
  }
  /* small mobile screen */
  @media (max-width: 330px) {
    .container, .controller{
        width: 280px;
        @apply mx-auto;
    }
    .education-tab {
      width: 250px;
      overflow-x: auto;
    }
  }

